 

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- General application logs -->
		<target name="appFile" xsi:type="File" 
				
				fileName="logs/auth.log"
				layout="${longdate}|${level}|${message}" />

		<!-- Login/Logout logs -->
		<target name="authFile" xsi:type="File" 
			    fileName="C:\خارج الويندز\اهم الكورسات\Asp . net Region\Web\projects\3-Ecommerce Region\2-MVC\2-Dokkanah\27-10-2024Dokaanah2-master\Dokaanah\logs\customer_activity.log"				
 				layout="${longdate}|${message}" />
 
	</targets>

	<rules>
		<!-- Route authentication logs -->
		<logger name="AuthLogger" minlevel="Info" writeTo="authFile" />

		<!-- Route other application logs -->
		<logger name="*" minlevel="Info" writeTo="appFile" />
		
		<logger name="*" minlevel="Info" writeTo="Newfile" />

	</rules>
</nlog>

 
