
@{
    ViewData["Title"] = "Filtered";
}


<div class="BreadcrumbStart">
    <div class="BreadcrumbS_Wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Shop</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Contact</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
