<!DOCTYPE html>
<html lang="en">

<body>


    @* ======================================================================================= *@
    <div>
        @RenderBody()
    </div>
 
</body>
</html>
